* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1170px;
  width: 96%;
  margin: auto;
}
@media (max-width: 640px) {
  .container {
    width: 90%;
  }
}

.button {
  background-color: #ffd200;
  color: #333333;
  border: none;
  cursor: pointer;
  padding: 18px 47px;
  border-radius: 10px;
}
.button:hover {
  background-color: #ffdb33;
}

.input {
  border: 1px solid #dddddd;
  font-size: 15px;
  border-radius: 10px;
  padding: 25px;
}

.section-title {
  font-size: 30px;
  text-align: center;
  line-height: 45px;
}
@media (max-width: 768px) {
  .section-title {
    font-size: 18px;
  }
}

.section-subtitle {
  color: #000;
  font-size: 20px;
  text-align: center;
  display: block;
}

.header {
  padding: 20px 0;
}
.header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__info {
  display: flex;
  text-align: right;
}
.header__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 640px) {
  .header__contacts {
    display: none;
  }
}
.header__adress {
  color: #333333;
  font-size: 13px;
  font-weight: 400;
}
.header__phone {
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  display: block;
  margin-top: 5px;
}
.header__button {
  padding: 18px 47px;
  margin-left: 30px;
  border-radius: 10px;
  font-size: 13px;
}

.main {
  background-color: #f5f5f5;
}
.main-block {
  display: flex;
  padding: 40px 0 10px 0;
}
@media (max-width: 1200px) {
  .main-block {
    flex-direction: column;
  }
}
.main-text {
  flex-basis: 50%;
}
@media (max-width: 1200px) {
  .main-text {
    margin-bottom: 30px;
  }
}
.main-text__title {
  font-size: 41px;
  color: #333333;
  font-weight: 400;
  padding-right: 200px;
  line-height: 55px;
  margin: 45px 0 20px 0;
}
@media (max-width: 1200px) {
  .main-text__title {
    padding-right: 10px;
  }
}
@media (max-width: 640px) {
  .main-text__title {
    font-size: 30px;
    line-height: 1.4;
  }
}
.main-text__subtitle {
  font-size: 20px;
  color: #333333;
  font-weight: 400;
  line-height: 65px;
}
@media (max-width: 640px) {
  .main-text__subtitle {
    font-size: 16px;
    line-height: 1.4;
  }
}
.main-image {
  margin-right: -55px;
}
@media (max-width: 1200px) {
  .main-image {
    width: 100%;
  }
}
.main-list {
  margin: 40px 0 0 0;
  padding: 0;
}
@media (max-width: 640px) {
  .main-list {
    margin: 30px 0 0 0;
  }
}
.main-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.main-list__item:last-child {
  margin-bottom: 0;
}
@media (max-width: 640px) {
  .main-list__item {
    margin-bottom: 15px;
  }
}
.main-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.main-list__text {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  max-width: 280px;
}
@media (max-width: 640px) {
  .main-list__text {
    font-size: 12px;
    max-width: 230px;
  }
}

.offer {
  padding: 90px 0;
  background: url("../img/offer-bg.jpg") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
}
@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
}
@media (max-width: 768px) {
  .offer {
    background: #fff;
  }
}
.offer:before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
}
.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}
@media (max-width: 768px) {
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
}
.offer-title {
  font-size: 24px;
  line-height: 35px;
  max-width: 350px;
  margin-bottom: 25px;
}
.offer-subtitle {
  display: inline-block;
  max-width: 260px;
  font-size: 16px;
  margin-bottom: 30px;
}
.offer__input {
  margin-bottom: 30px;
  width: 240px;
}
@media (max-width: 1200px) {
  .offer__input {
    width: 100%;
    margin-bottom: 15px;
  }
}
.offer__input:first-child {
  margin-right: 10px;
}
.offer__button {
  width: 100%;
  min-height: 70px;
  font-weight: 700;
  font-size: 16px;
}
@media (max-width: 1200px) {
  .offer__button {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .offer__button {
    font-size: 16px;
  }
}
.offer-contact {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .offer-contact {
    flex-direction: column;
  }
}
.offer-call {
  font-size: 15px;
  font-weight: 400;
  color: #333333;
  line-height: 24px;
  width: 180px;
}
@media (max-width: 1200px) {
  .offer-call {
    margin-bottom: 15px;
  }
}
.offer-callus {
  font-size: 15px;
  font-weight: 400;
  color: #333333;
  line-height: 24px;
  display: block;
  width: 200px;
}
.offer__phone {
  text-decoration: none;
  color: #333333;
  font-size: 15px;
  font-weight: 700;
}

.portfolio {
  padding: 100px 0;
  background: #f5f5f5 url("../img/portfolio-bg.png") left repeat-y;
  background-size: 50%;
}
.portfolio__title {
  margin-bottom: 100px;
  color: #333333;
}
.portfolio__arrows {
  max-width: 120px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 70px;
}

.slider__image {
  margin: auto;
}

.arrows__left, .arrows__right {
  cursor: pointer;
}

.price {
  padding: 100px 0;
}
@media (max-width: 768px) {
  .price {
    padding-bottom: 30px;
  }
}
.price__title {
  margin-bottom: 60px;
}
.price__subtitle {
  margin-bottom: 60px;
}
.price__card {
  margin-bottom: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .cards {
    justify-content: space-around;
  }
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
}
.card:hover {
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
.card:hover .card__image::before {
  opacity: 1;
}
.card__text {
  padding: 40px;
}
.card__title {
  margin-top: 0;
  font-size: 18px;
  margin-bottom: 30px;
}
.card__image {
  position: relative;
}
.card__image img {
  display: block;
}
.card__image::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
}
.card__link {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  color: #333333;
  position: relative;
}
.card__link:hover::after {
  height: 13px;
}
.card__link::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  bottom: -4px;
  left: -5px;
  width: 110%;
  height: 3px;
  background-color: #ffd200;
  transition: 0.2s;
}

.steps {
  padding-bottom: 120px;
}
.steps__title {
  margin-bottom: 60px;
}
.steps__subtitle {
  margin-bottom: 75px;
}

.icons {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1300px) {
  .icons {
    justify-content: space-around;
  }
}
@media (max-width: 640px) {
  .icons {
    flex-direction: column;
  }
}

.icon {
  text-align: center;
  position: relative;
}
@media (max-width: 768px) {
  .icon {
    padding-bottom: 30px;
  }
}
.icon:last-child::after {
  display: none;
}
.icon::after {
  content: "";
  position: absolute;
  top: -10px;
  right: -95px;
  display: block;
  width: 72px;
  height: 25px;
  background-image: url("../img/IconArrowRight.png");
}
@media (max-width: 1200px) {
  .icon::after {
    display: none;
  }
}
.icon__image {
  width: 100px;
  height: 100px;
  margin: auto;
  border: 3px solid #ffd200;
  background-color: #fff;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.icon__image img {
  width: 35px;
  height: 35px;
  display: inline-block;
}
.icon__text {
  max-width: 140px;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
}

.notice {
  background-color: #ffc000;
  padding: 100px 0;
}
.notice__text {
  text-align: center;
  font-size: 32px;
  max-width: 750px;
  margin: auto;
  line-height: 50px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .notice__text {
    font-size: 18px;
    font-weight: 400;
  }
}

.info {
  padding: 100px 0;
}
.info__block {
  margin-bottom: 150px;
}

.benefits {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .benefits {
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
  }
}

.benefit {
  background-color: #f7f7f7;
  height: 410px;
  max-width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 768px) {
  .benefit {
    margin-bottom: 30px;
  }
}
.benefit__image {
  position: absolute;
  bottom: 0;
  left: 0;
}
.benefit__text {
  margin: 26px 80px 0 26px;
  font-size: 16px;
  line-height: 23px;
}

.documents__title {
  margin-bottom: 100px;
}

.documents-block {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .documents-block {
    flex-direction: column;
    align-items: center;
  }
}
.documents-block__text {
  text-align: center;
  margin-top: 40px;
  line-height: 24px;
  font-size: 18px;
}
@media (max-width: 768px) {
  .documents-block__text {
    font-size: 14px;
    margin: 30px 0 40px 0;
  }
}

.brief {
  background-image: url("../img/brief-color-bg.jpg"), url("../img/brief-bg.jpg");
  background-position: left center, center right;
  background-size: 50%, cover;
  background-repeat: repeat-y, no-repeat;
  padding: 100px 0;
}
@media (max-width: 768px) {
  .brief {
    background-image: url("../img/brief-color-bg.jpg"), url("../img/brief-bg.jpg");
    background-position: top center, center bottom;
    background-size: 100% 50%, cover;
    background-repeat: repeat-x, no-repeat;
    padding: 50px 0;
  }
}
.brief__input {
  width: 100%;
  max-width: 370px;
  margin-bottom: 15px;
}
.brief__button {
  width: 100%;
  max-width: 370px;
  display: block;
  height: 70px;
  margin: 15px auto 30px auto;
}
.brief-block {
  display: flex;
}
@media (max-width: 768px) {
  .brief-block {
    flex-direction: column;
  }
}
.brief-block__interview {
  flex-basis: 50%;
}
.brief-block__form {
  flex-basis: 50%;
  padding-left: 200px;
  text-align: center;
}
@media (max-width: 1200px) {
  .brief-block__form {
    padding-left: 30px;
  }
}
@media (max-width: 768px) {
  .brief-block__form {
    padding-left: 0;
  }
}

.interview {
  padding-right: 70px;
}
@media (max-width: 1200px) {
  .interview {
    padding-right: 30px;
  }
}
.interview__title {
  font-size: 22px;
  line-height: 33px;
  font-weight: 700;
  margin-bottom: 50px;
}
@media (max-width: 1200px) {
  .interview__title {
    font-size: 18px;
    margin-bottom: 40px;
  }
}
.interview__subtitle {
  font-size: 16px;
  line-height: 45px;
  margin-bottom: 100px;
  display: block;
}
@media (max-width: 1200px) {
  .interview__subtitle {
    font-size: 14px;
    margin-bottom: 30px;
  }
}
.interview-list {
  list-style-type: none;
  padding: 0;
}
.interview-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  font-weight: 700;
}
.interview-list__counter {
  font-size: 14px;
  width: 35px;
  height: 35px;
  border: 2px solid #000000;
  display: inline-block;
  text-align: center;
  line-height: 35px;
  border-radius: 50px;
  margin-right: 30px;
}
@media (max-width: 1200px) {
  .interview-list__counter {
    margin-right: 20px;
  }
}
.interview-list__text {
  max-width: 400px;
  font-size: 18px;
}
@media (max-width: 1200px) {
  .interview-list__text {
    font-size: 14px;
    max-width: 300px;
  }
}
@media (max-width: 640px) {
  .interview-list__text {
    max-width: 200px;
  }
}

.form__title {
  font-size: 22px;
  line-height: 33px;
  font-weight: 700;
  margin-bottom: 50px;
}
@media (max-width: 1200px) {
  .form__title {
    font-size: 18px;
    margin-bottom: 40px;
    margin-top: 150px;
  }
}
.form__subtitle {
  font-size: 16px;
  line-height: 45px;
  margin-bottom: 50px;
  display: block;
}
@media (max-width: 1200px) {
  .form__subtitle {
    font-size: 14px;
    margin-bottom: 40px;
  }
}
.form__description {
  font-size: 15px;
  line-height: 24px;
  color: #333333;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.modal_active {
  display: flex;
}
.modal-dialog {
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-height: 200px;
  background-color: #fff;
  padding: 40px;
  position: relative;
}
.modal-dialog__close {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */